{% extends 'baseA.html' %}
{% block title %}Post{% endblock %}

{% block body %}

<div class="col-12 col-md-6">
    <div class="card">
        <img class="card-img-top" src="{{post.image.url}}">
        <form action="/showProfile/" method="get">
            <div class="card-header" style="display: flex;">
                <img src="{{post.username.profile_pic.url}}" class="avatar img-fluid rounded me-1"  />
                <input type="submit" name="uid" class="card-title mb-0" value='{{post.username.username}}'
                style="border: none; background-color: white;">
            </div>
        </form>
        <div class="card-body">
            <p class="card-text">{{post.date_posted}}</p>
            <p class="card-text">Likes: {{post.likes}}</p>
            <form action="/likePost/" method="get">
                <input type="hidden" name="pid" value="{{post.post_id}}">
                <button class="btn btn-primary"><i class="align-middle" data-feather="heart" style="color: white;"></i>
                     Like</button>
            </form><br>
            {% if delete_opt %}
            <form action="/deleteP/" method="get">
                <input type="hidden" name="pid" value="{{post.post_id}}">
                <button class="btn btn-primary" style="background-color: red;">
                    <i class="align-middle" data-feather="slash" style="color: white;"></i> Delete</button>
            </form>
            {% endif %}
            <br>
            {% if you %}
            <form action="/report/" method="get">
                <input type="hidden" name="pid" value="{{post.post_id}}">
                <p>Is this you?</p>
                <button class="btn btn-primary" style="color: red;">Report</button>
            </form>
            {% endif %}
            {% for person in people %}
            <form action="/showProfile/" method="get">
                <input type="hidden" name="uid" value="{{person.username}}">
                <div class="card-header" style="display: flex;">
                    <img src="{{person.profile_pic.url}}" class="avatar img-fluid rounded me-1" alt="{{person.name}}" />
                    <button type="submit" style="border: none; background-color: transparent">{{person.username}}</button>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}